<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Someone left a review on your article, <%= @user.name %></h1>
  <p>Thanks for your awesome contributions, see what others had to say.<br>
  </p>
  <p>
    To see the new review added to your article, just follow this link: <%= @url %>.
  </p>
  <p>Thanks for contributing and have a great day!</p>
</body>
