<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Someone just voted on your article, <%= @user.name %></h1>
  <p>
    To see your new vote count, just follow this link: <%= @url %>.
  </p>
  <p>Thanks for being a valued part of the Rubbit community, and have a great day!</p>
</body>
