<h1>Articles</h1>
<%= paginate @articles %>
  <ul>
    <% @articles.each do |article| %>
      <li><%= link_to article.name, article_path(article) %></li>
   <% end %>
      <li><%= link_to "Add new article", new_article_path %></li>
  </ul>
