<h1>Articles</h1>
<%= link_to "Add New Article", new_article_path %>
  <ul>
    <% @articles.each do |article| %>
      <li><%= link_to article.name, article_path(article) %></li>
    <% end %>
  </ul>
